.main div{
    background-color: aquamarine;
    border-radius: 10%;
    display: flex;
    

}
.card{
    background-color: gold; /* or any color you want */
    padding: 20px;
    border-radius: 10px;
    font-size: small;
    display: flex;
}
body{
    border: 8px black solid;
    background-color: gray;
}
